/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/


body {
    background-color: #b2bec3;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    margin: 150px;
}

h1 {
    color: #d63031;
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding-bottom: 30px;
}

.box {
    background-color: white;
    width: 550px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #696969;
    position: relative;
}

.socsite {
    margin: 0;
    padding: 0;
}

.socsite li {
    display: inline-block;
}


.socsite a {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.twitter {
    background-color: #1da1f2;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 490px;
}

.facebook {
    background-color: #3b5998;
    border-radius: 5px;
    width: 490px;
}

.foto-eliska {
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

.prvni {
    margin-top: 0;
}

.posledni {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.twitter a:hover {
    background-color: #0b7bc1;
    text-align: center;
    border-radius: 5px;
}

.facebook a:hover {
    background-color: #2b406e;
    border-radius: 5px;
}

img {
    position: absolute;
    top: -75px;
    right: -75px;
}


